body {
    font-size: 16px;
}

h1 {
    font-size: 65px;
    color: orange;
    font-family: sans-serif;
}

ul {
    background-color: beige;
}

p {
    font-size: 48px;
    font-weight: 600;
}

.colors-list {
    background-color: gray;
    font-style: bold;
}

.yellow-text {
    background-color: yellow;
}

.red-text {
    background-color: red;
}

.brown-text {
    background-color: brown;
}